*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Dark mode */
  --color-yellow: #B59F3B;
  --color-green: #538D4E;
  --color-darkgrey: #3A3A3C;
  --color-lightgrey: #818384;
  --color-whitetext: #D7DADC;
  --color-greytext: #565758;
  /* --color-background: #121213; */
  --color-background: hsl(240, 3%, 7%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 1em;

  font-family: 'Open Sans', sans-serif;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  line-height: 1.5;
  color: var(--color-whitetext);
  background: var(--color-background);
}

/* ------- Game board ------- */

.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: .25em;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
  border: 1px solid var(--color-greytext);
  color: var(--color-whitetext);
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 0.5em .25em;
  height: 2.5em;
  width: 2.5em;
}

.cell.wrong-position, .cell.match .cell.inccorect {
  border: none;
}

/* ------- Keyboard ------- */

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  margin-bottom: 20px;
}

.key {
  color: var(--color-whitetext);
  /* fill: white; */

  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  
  grid-column: span 2;
  font-size: inherit;
  border-radius: 5px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key-offset {
  /* border: 1px solid hotpink; */
  /* background-color: hsl(115, 29%, 43%); */
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
}

.key.incorrect {
  --lightness: 23%;
}
.key.wrong-position {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}
.key.match {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}
.key:hover, .key:focus {
  --lightness-offset: 10%;
}

