*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Dark mode */
  --color-wordle-green: hsl(115,28%,42%);
  --color-wordle-yellow: hsl(49, 50%, 47%);
  
  --color-ukraine-blue: hsl(208,100%,50%);
  --color-ukraine-yellow: hsl(49,50%,47%);
  /* Official yellow is actually #ffdd00 = hsl(52, 100%, 50%) = too bright!! */

  --color-darkgrey: #3A3A3C;
  --color-lightgrey: #818384;
  --color-whitetext: #D7DADC;
  --color-greytext: #565758;
  --color-background: hsl(240, 3%, 7%);

  --color-almost: var(--color-ukraine-yellow);
  --color-correct: var(--color-ukraine-blue);

  --header-height: 50px;
  --max-board-width: 500px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0em;
  padding-top: .1em;
  overflow: hidden;

  font-family: 'Open Sans', sans-serif;
  /* font-size: clamp(1rem, 2.5vmin, 1.5rem); */
  line-height: 1.5;
  color: var(--color-whitetext);
  background: var(--color-background);
}

 /* ----- Standalone (app) Mode ----- */

@media (display-mode: standalone) {
  body>#toolbar {
    padding: env(safe-area-inset-top) 
    env(safe-area-inset-right) 
    env(safe-area-inset-bottom) /* Optional backup 2nd paramater: ..., 5px */
    env(safe-area-inset-left) !important;
  }

  #itemInstall {
    display: none;
  }
}

svg {
  pointer-events: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--color-lightgrey);
  width: 100vw;
  color: var(--color-whitetext);
  height: var(--header-height);
  font-size: 1rem;
}

a {
  color: var(--color-ukraine-blue);
  text-decoration: none;
}
a:hover {
  color: var(--color-ukraine-yellow);
  text-decoration: none;
}

.install-button {
  color: var(--color-ukraine-blue);
  text-decoration: none;
  cursor: pointer;
}
.install-button:hover {
  color: var(--color-ukraine-yellow);
  text-decoration: none;
}

header h1 {
  font-size: clamp(1em, 1.6em, 2em); /* FIXME: This doesn't scale well */
  line-height: 1;
  margin: 0;
  padding: .2em .4em;
}

.title .narrow {
  display: none;
}

@media (max-width: 500px) {
  .title .narrow {
    display: inline;
  }
  .title .wide {
    display: none;
  }
}


header .left-icons {
  padding-left: .5rem;
  display: flex;
}

header .right-icons {
  padding-right: .5rem;
  display: flex;
}

header .btn-menu {
  width: var(--header-height);
  padding: .3em .4em .5em .4em;
  transition: color 150ms ease-in-out;
  cursor: pointer;
}

.btn-menu:hover {
  cursor: pointer;
  color: var(--color-ukraine-blue);
}

/* ----- Game Container ----- */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  margin: 0;
}


/* ------- Game Board ------- */
.board-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-board-width);
}
.gameboard {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin: auto;
  margin-bottom: 1em;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
  border: .05em solid hsl(240, 2%, 23%);
  color: var(--color-whitetext);

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  transition: transform 250ms linear;
}

.cell[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
  animation: zoom-in-zoom-out 50ms ease;
}

.cell.wrong-position, .cell.match, .cell.incorrect {
  border: none;
}
.cell.incorrect {
  background-color: var(--color-darkgrey);
}
.cell.wrong-position {
  background-color: var(--color-almost);
}
.cell.match {
  background-color: var(--color-correct);
}

.cell.flip {
  transform: rotateX(90deg);
}

.cell.shake {
  animation: shake .5s ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.cell.dance {
  animation: dance .5s ease-in-out;
}
@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* ------- Keyboard ------- */
.keyboard-container {
  height: 200px;
}

.keyboard {
  height: 200px;
}

.kb-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 0 auto 8px;

  width: 95vw;
  max-width: 800px;
}

.key {
  color: var(--color-whitetext);
  height: 58px;

  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin-right: 6px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key.large {
  flex: 1.5;
}

.key-offset {
  flex: 0.5;
}

.key > svg {
  width: 1.75em;
}

.key img {
  max-width: 70%;
  pointer-events: none;
}

.key.incorrect {
  --lightness: 23%;
}
.key.wrong-position {
  /* --color-ukraine-yellow: hsl(49,50%,47%);
    actually ffdd00 = 52, 100%, 50% = too bright!!
  */
  --hue: 49;
  --saturation: 50%;
  --lightness: 47%;
}
.key.match {
  /* --color-ukraine-blue: hsl(208,100%,50%); */
  --hue: 208;
  --saturation: 100%;
  --lightness: 50%;
}
.key:hover, .key:focus {
  --lightness-offset: 10%;
}
.key:last-of-type {
  margin-right: 0;
}

@media (max-width: 780px) {
  .btn-menu {
    display: flex;
    justify-content: center;
    height: 4em;
    align-items: center;
    width: 4em;
    height: 4em;
  }  
  .gameboard {
    /* background-color: green; */
    /* FIXME: Not effective */
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  .keyboard {
    height: 200px;
    width: 100%;
    bottom: 0;
  }
}

/* ------- Alert Box ------- */
.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert {
  pointer-events: none;
  color: black;
  background-color: hsl(204, 7%, 85%);
  padding: .75em 1em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

/* ------- Information (Modal) Pages ------- */
#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#modal-container.show {
  display: flex;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 1em;
  background-color: var(--color-darkgrey);
  font-size: 1em;
  border-bottom: 1px solid hsl(240, 2%, 23%);
}

#modal-content {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: auto;
  color: var(--color-whitetext);
  padding: 1em;
  animation-name: modalOpen;
  animation-duration: 1s;
  font-size: clamp(1.2em, 1.5vw, 1.6em);
}

#modal-snippet {
  max-width: 800px;
}
#modal-content h2 {
  font-size: 1.6em;
}
#modal-content h3 {
  font-size: 1.4em;
  color: var(--color-ukraine-yellow);
}
#modal-content h4 {
  font-size: 1.2em;
  color: var(--color-ukraine-yellow);
}
#modal-content h5 {
  color: var(--color-ukraine-yellow);
}

.modal-close {
  color: var(--color-ukraine-blue);
}
.modal-close:hover {
  color: var(--color-ukraine-yellow);
  cursor: pointer;
}
.modal-close > svg {
  padding-top: .25em;
  width: 2em;
  pointer-events: none;
}

/* TODO: replace this once SVG bug is fixed. */
.inline-link {
  height: 1em;
  width: 1em;
  background: purple;
}

@keyframes modalOpen {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media(display-mode: standalone) {
  .install-button {
    display: none;
  }
  #modal-header {
    justify-content: flex-end;
  }
}

/* ----- Link Icon Styling ----- */

.copy-link, .follow-link{
  min-width: 2em;
  height: 2em;
  color: var(--color-ukraine-blue);
}
.copy-link:hover, .follow-link:hover{
  color: var(--color-ukraine-yellow);
  cursor: pointer;
}
.follow-link {
  margin-left: .5em;
}
.icon-link-copy {
  pointer-events: none;
  width: 2em;
  height: 2em;
}
.icon-link-follow {
  width: 2em;
  height: 2em;
}

/* Remove? */
.follow-link a:hover {
  color: var(--color-ukraine-yellow);
  text-decoration: none;
}

/* ----- Tables ----- */
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table tr {
  border : 1px solid var(--color-lightgrey);
}

table tr:nth-child(even) {
  background-color: var(--color-darkgrey);
}

table th {
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: left;
  background-color: var(--color-ukraine-blue);
  color: var(--color-whitetext);
}