*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Dark mode */
  --color-yellow: hsl(49, 50%, 47%);
  --color-green: hsl(115,28%,42%);
  --color-darkgrey: #3A3A3C;
  --color-lightgrey: #818384;
  --color-whitetext: #D7DADC;
  --color-greytext: #565758;
  /* --color-background: #121213; */
  --color-background: hsl(240, 3%, 7%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 1em;

  font-family: 'Open Sans', sans-serif;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  line-height: 1.5;
  color: var(--color-whitetext);
  background: var(--color-background);
}

/* ------- Game board ------- */

.gameboard {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
  border: .05em solid hsl(240, 2%, 23%);
  color: var(--color-whitetext);

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  transition: transform 250ms linear;
}

.cell[data-state="active"] {
  /* border-color: hsl(200, 1%, 34%); */
  border-color: hotpink;
}

.cell.wrong-position, .cell.match, .cell.incorrect {
  border: none;
}
.cell.incorrect {
  background-color: var(--color-lightgrey);
}
.cell.wrong-position {
  background-color: var(--color-yellow);
}
.cell.match {
  background-color: var(--color-green);
}

.cell.flip {
  transform: rotateX(90deg);
}

.cell.shake {
  animation: shake .5s ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.cell.dance {
  animation: dance .5s ease-in-out;
}

@keyframes dance {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ------- Keyboard ------- */

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  margin-bottom: 20px;
}

.key {
  color: var(--color-whitetext);
  /* fill: white; */

  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  
  grid-column: span 2;
  font-size: inherit;
  border-radius: 5px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key-offset {
  /* border: 1px solid hotpink; */
  /* background-color: hsl(115, 29%, 43%); */
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
}

.key.incorrect {
  --lightness: 23%;
}
.key.wrong-position {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}
.key.match {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}
.key:hover, .key:focus {
  --lightness-offset: 10%;
}

/* ------- Alert Box ------- */
.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert {
  pointer-events: none;
  color: black;
  background-color: hsl(204, 7%, 85%);
  padding: .75em 1em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}